body {
  background-color: rgba(87, 138, 138, 0.447);
}

.App {
  text-align: center;
}

.time {
  font-size: 80px;
  margin: calc(50vh - 120px) auto 40px;
  color: white;
}

.button {
  width: 100px;
  height: 40px;
  outline: none;
  background-color: #FF8016;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}

.button:hover {
  background-color: #DF6500;
}